.PropriedadeHtml{
    h3{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    iframe{
        width: 980px;
        height: 500px;
    }

    a{
        text-decoration: none;
    }
}

.BoxDescricao{
    font-size: 20px;
    margin-bottom: 15px;
}